<div class="row d-flex">
    <div class="col-sm-2">
        <button ejs-button cssClass="e-info" class="m-2 w-100" (click)="currentSelected = 'dropdown'">DropDownList</button>
    </div>
    <div class="col-sm-2">
        <button ejs-button cssClass="e-info" class="m-2 w-100" (click)="currentSelected = 'calendar'">Calendar</button>
    </div>
    <div class="col-sm-2">
        <button ejs-button cssClass="e-info" class="m-2 w-100" (click)="currentSelected = 'scheduler'">Scheduler</button>
    </div>
    <div class="col-sm-2">
        <button ejs-button cssClass="e-info" class="m-2 w-100" (click)="currentSelected = 'schedulerWithYear'">SchedulerTimelineYear</button>
    </div>
    <div class="col-sm-2">
        <button ejs-button cssClass="e-info" class="m-2 w-100" (click)="currentSelected = 'customModal'">Custom Modal</button>
    </div>
    <div class="col-sm-2">
        <button ejs-button cssClass="e-info" class="m-2 w-100" (click)="currentSelected = 'dragAndDrop'">Drag And Drop</button>
    </div>
    <div class="col-sm-2">
        <button ejs-button cssClass="e-info" class="m-2 w-100" (click)="currentSelected = 'treeview'" [isPrimary]="true">TreeView</button>
    </div>
    <div class="col-sm-2">
        <button ejs-button cssClass="e-info" class="m-2 w-100" (click)="currentSelected = 'quill'" [isPrimary]="true">Quill Editer</button>
    </div>
    <div class="col-sm-2">
        <button ejs-button cssClass="e-info" class="m-2 w-100" (click)="currentSelected = 'dualListBox'" [isPrimary]="true">Dual list Box</button>
    </div>
</div>

<div class="m-3">
    <div class="col-sm-3">
        <ng-container *ngIf="currentSelected === 'dropdown'">
            <app-dropdown></app-dropdown>
        </ng-container>
        <ng-container *ngIf="currentSelected === 'calendar'">
            <app-calendar></app-calendar>
        </ng-container>
    </div>
    <ng-container *ngIf="currentSelected === 'scheduler'">
        <app-scheduler></app-scheduler>
    </ng-container>
    <ng-container *ngIf="currentSelected === 'schedulerWithYear'">
        <app-scheduler-year-view></app-scheduler-year-view>
    </ng-container>
    <ng-container *ngIf="currentSelected === 'customModal'">
        <app-custom-modal></app-custom-modal>
    </ng-container>
    <ng-container *ngIf="currentSelected === 'dragAndDrop'">
        <app-drag-and-drop></app-drag-and-drop>
    </ng-container>
    <ng-container *ngIf="currentSelected === 'treeview'">
        <app-treegrid-view></app-treegrid-view>
    </ng-container>
    <ng-container *ngIf="currentSelected === 'quill'">
        <app-quill-editer></app-quill-editer>
    </ng-container>
    <ng-container *ngIf="currentSelected === 'dualListBox'">
        <app-duaillistbox></app-duaillistbox>
    </ng-container>
</div>