.custom-event-editor .e-textlabel {
  padding-right: 15px;
  text-align: right;
}

.custom-event-editor td {
  padding: 7px;
  padding-right: 16px;
}
.e-popup-open{
  width: 1000px !important;
  height: 600px !important;
  max-height: 600px !important;
}