<div class="row d-flex m-3">
  <div class="col-sm-2">
    <button class="btn btn-primary m-2 w-100" (click)="currentSelected = 'moment'">Moment</button>
  </div>
  <div class="col-sm-2">
    <button class="btn btn-primary m-2 w-100" (click)="currentSelected = 'syncfusion'">Syncfusion</button>
  </div>
</div>

<div class="m-3">
  <ng-container *ngIf="currentSelected === 'moment'">
    <app-moment-js></app-moment-js>
  </ng-container>
  <ng-container *ngIf="currentSelected === 'syncfusion'">
    <app-syncfusion></app-syncfusion>
  </ng-container>
</div>
<router-outlet></router-outlet>